.card-item {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 2px solid green;
  cursor: pointer;

  @media screen and (min-width: 769px) {
    &.column.is-one-quarter, .column.is-one-quarter-tablet {
      flex: none;
      width: 22.75% !important;
      margin-left: 1.25rem;
    }
  }

  .title {
    text-align: left;
    padding-left: 1rem;
    margin: auto;
  }
}
